@model IEnumerable<StudyEstimator_MVC.Models.Study>

@{
    ViewBag.Title = "Current Studies";
}

<h2>Current Studies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    This is a test of the session object: 
    @Session["CurrentStudy"] 
</p>
<table>
    <tr>
        <th>
            StudyName
        </th>
        <th>
            StudyManager
        </th>
        <th>
            StudyCreated
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyManager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StudyID }) |
            @Html.ActionLink("Details", "Details", new { id = item.StudyID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudyID })
        </td>
    </tr>
}

</table>
